@import "tailwindcss";

/* Esto asegura que el body no tenga márgenes raros y ocupe todo el ancho */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal */
}